--extra-index-url https://download.pytorch.org/whl/cu128
torch~=2.10
biopython
biotite
xgboost
pygam
pandas
joblib
scikit-learn
torch_geometric
fair-esm
pybiolib
plotly
beautifulsoup4
openpyxl
lxml
lz4
scipy
sentencepiece
transformers
tokenizers
tr-rosetta-pytorch
tiktoken
protobuf